html {
  background-image: url(../img/imagen8.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }

  body {
    background-color: rgba(12, 83, 0, 0.44);

  }

header h1 {
  text-align: right;
  line-height: 1;
  color: rgb(246, 246, 246);
}

nav ul {
  list-style: none;
}

h1 {
  color: white;
}

/* NOTE: quede aqui pendiente de modificar los asidde hover */
aside

/* NOTE: media querie para pantalla de 900 pixeles */

@media screen and (max-width: 900px) {

  header h1 {
    text-align: center;
  }

  nav {
    text-align: center;
  }

  article {
    text-align: center;
  }

  article p {
    text-align: justify;
  }

}
