html {
  background-image: url(../img/imagen8.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }

  body {
    background-color: rgba(12, 83, 0, 0.44);

  }

header h1 {
  line-height: 1;
  color: rgb(246, 246, 246);
}

h1,.letra {
  color: rgb(246, 246, 246);
}

.comment {
  -webkit-filter: invert(90%);
}


/* NOTE: quede aqui pendiente de modificar los asidde hover */
aside

/* NOTE: media querie para pantalla de 900 pixeles */

@media screen and (max-width: 800px) {

  header h1 {
    text-align: center;
  }

  nav {
    text-align: center;
  }

  article {
    text-align: center;
  }

  article p {
    text-align: justify;
  }

}
